thead {
  border-width: 20px 0 20px 0;
  border-color: #343A40;
}

.satu {
  border-bottom-width: 20px;
  border-color: #343A40;
}

.dua {
  border-bottom-width: 20px;
  border-color: #343A40;
}

.tiga {
  border-bottom-width: 20px;
  border-color: #343A40;
}
